/* custom vars */
:root {
    --dark: #000000;
    --medium: #151515;
    --light: #ABA6AB;
    --accent: #ED3976;
    --gap: 0.5rem;
}

/* visuals */

* {
    color: var(--light);
}

body {
    background-color: var(--dark);
}

nav,
article {
    background-color: var(--medium);
}

a:hover,
a:active,
.selected {
    color: var(--accent);
}

li {
    list-style-type: none;
}

/* layout */

main {
    padding: 0 calc(var(--gap) * 3);
}

nav {
    padding: calc(var(--gap) * 3);
}

section,
nav,
ul {
    display: flex;
}

section,
ul {
    width: 80vw;
    margin: 0 auto;
}

nav {
    align-items: center;
}

ul {
    justify-content: space-around;
}

section {
    flex-flow: column;
    justify-content: center;
    align-items: start;
    height: 100vh;
    padding-top: calc(10vh + calc(var(--gap) * 3));
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 10vh;
    width: 100vw;
}

/* sizing */

#skills img {
    height: 5em;
    width: auto;
}

#contact img {
    height: 2.5em;
    width: auto;
}
